<!doctype html>
<html>

<head>
	<meta http-equiv = "Content-Type" content = "text/html; charset = UTF-8">
    <script src = "/scripts/jquery-2.1.4.min.js"></script>
	<link rel="stylesheet" href="/styles/popup.css"/>
    <link href='https://fonts.googleapis.com/css?family=Khula:400,700' rel='stylesheet' type='text/css'>
</head>

<body>

	<div id="main">
		<div id="topBar">
            <div id='appTitle'><span id='appTitleCher'>Cher</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; See what's shared to Facebook and Twitter</div>
			<div id='menu'>
				<span data-target='pagedata'></span>
<!--				<span data-target='onlinetools'>on-line tools</span>
				<span data-target='options'>options</span> -->
			</div>
		</div>
	
        <div id="out" class="panel" >Thinking...<br><br><p><img width="200px" align="middle" src="/images/homer-thinking.gif"></p></div>
		
		
        <div id="bottomBar">
            <div id='appBottom'>GO: <a href="https://developers.facebook.com/tools/debug/" target="_blank">Facebook Open Graph debugger</a> | <a href="https://cards-dev.twitter.com/validator" target="_blank">Twitter card validator</a></div>
        </div>

		
	</div>
		
	
	<script src = "/scripts/service.js"></script>
	<script src = "/scripts/popup.js"></script>

</body>
</html>
